:root {
  /* colors */
  --indigo-dye: #08415c;
  --rifle-green: #474a2c;
  --dark-sienna: #4c212a;
  --dark-sea-green: #abc798;
  --tumbleweed: #f1ab86;
}

html {
  background-color: var(--indigo-dye);
  color: var(--tumbleweed);
}

body {
  margin: 0;
}

a {
  color: var(--tumbleweed);
}
